<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="recipe.name" class="image-responsive" style="max-height:300px;">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="btn-group" appDropdown>
      <button type="button"  id="dropdownMenuButton" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage recipe <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a style="cursor: pointer;"  (click) ="onAddToShoppingList()">To shopping list</a></li>
          <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit recipe</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete recipe</a></li>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>


<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingridient of recipe.ingridients">
        {{ingridient.name}} - {{ingridient.amount}}
      </li>

    </ul>
  </div>
</div>
